body 
{
	background-color: #5896b3;
	color:#5896b3;
	font-family: Courier 'Courier New', Courier, monospace, Courier New, cursive;
}
	
	
b
{
	text-align: center;
	color: #ffffff;
	font-size: 5em;
}

.text-space
{
	margin-top: 5em;

}

.other-space
{
	margin-top: 2em;
}

p
{
	text-align: center;
	color: #ffffff;
	font-size: 1.5em;
}

hr {
 border:none;
 height: 20px;
    width: 90%;
    height: 50px;
    margin-top: 0;
     border-bottom: 1px solid #1f1209 ; 
    box-shadow: 0 20px 5px -20px #333;
margin: -50px auto 10 px;
}

.imgframe
    { background:#11a331;
    padding:12px;
	border:1px solid #999; 
}

h1
{
	color: #053a10;
}

h3
{
	color: #053a10;
}

li
{
	color: #ffffff;
	font-size: 2em;
}
